.headerContainer {
  background-color: #fff9f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: relative;
}

.designContainer {
  position: absolute;
  top: 0;
  width: 9.375rem;
  left: 25%;
}

.logoContainer {
  width: 18.75rem;
  height: 2.5rem;
}

.design {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.linksContainer {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 500px) {
  .headerContainer {
    padding: 1rem 2rem;
  }

  .logoContainer {
    width: 11.875rem;
  }
  .linksContainer {
    display: none;
  }

  .designContainer {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
